<p style="color: green"><%= notice %></p>

<div class="card text-center bg-body-secondary" style="width: 38rem;">
  <%= render @friend %>
  <br/> <br/>
  <div>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-info" %> 
    
    
    <%= button_to "Delete friend", @friend, method: :delete, class: "btn btn-danger m-3" %>
  </div>
</div>
<br/><br/>
<div class="text-center" style="width: 38rem;">
  <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %>
</div>
